
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Denis' Portfolio</title>

      <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900" rel="stylesheet">
      <link rel='stylesheet' href='/css/style.css'/>
       
       <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.js"></script>
       <!-- <script src="js/sketch.js"></script> -->
   </head>
   <body>

      <!-- <div class="container-fluid" id="first-half"> -->

         <ul class="nav justify-content-center">
            <!-- <a class="navbar-expand-lg" href="#">Navbar</a> -->

            <li class="nav-item">
               <a class="nav-link active" href="/">HOME</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/projects">PROJECTS</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/music">MUSIC</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/profile">PROFILE</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">CODE</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/contact">CONTACT</a>
            </li>
         </ul>


         <h1 id="title">DENIS MANUEL LIM</h1>
         <hr>
         <h2 id="second-title">Hi, I'm Denis. I'm an aspiring back-end developer and producer. Welcome to my site.</h2>
         <img src="lemon_transparent.png" width="80" height="80">



      <!-- </div> -->




      <!-- <div class="container-fluid" id="second-half">
         <h2>aekfoaeofaekofaok</h2>
      </div> -->

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
   </body>
</html>
