<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>My Profile</title>
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900" rel="stylesheet">
      <link rel='stylesheet' href='/css/profile_style.css'/>
   </head>
   <body>
      <ul class="nav justify-content-center">
         <li class="nav-item">
            <a class="nav-link active" href="/">HOME</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" href="/projects">PROJECTS</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/music">MUSIC</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/profile">PROFILE</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">CODE</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT</a>
         </li>
      </ul>

      <div class="container-fluid">
         <div class="container">
            <h2>Profile</h2>

            <p>Hi, my name is Denis Manuel Lim. I am an aspiring backend developer and student.</p>
            <p></p>
         </div>

         <div class="container">
            <h3>Education</h3>
            <p class="education">Highschool, Asociacion Escuelas Lincoln, Buenos Aires, Argentina.</p>
            <p class="education">B.S. Mechanical Engineering, University of Southern California, LA, 2017.</p>
            <p class="education">(Current) M.S. Computer Science, University of Southern California, LA, 2019.</p>
         </div>

      </div>

   </body>
</html>
